html, body{
    height: 100%;
}

.container-fluid{
    min-height: 100%;
}
/* CSS for icons */

.i-color{
    color: aqua;
}

.s-color{
    color: whitesmoke;
}

/* navigation CSS */
a.nav-link{
    color: whitesmoke;
}
a.nav-link:hover{
    color: black;
    background-color: #e9cd79;
}
a.nav-link.active{
    color: black;
    background-color: #ffc107;
    font-weight: bold;
}